*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid  blue 2px; */
}
:root{

  --backgroud_color_1:#27374D;
  --backgroud_color_2: #526D82;
  --backgroud_color_3: #9DB2BF;
  --backgroud_color_4: #bcc5cb;

  --heading-size: 28px;

}
.container { 

    color:var(--backgroud_color_1);
    font-family: Georgia, Times, 'Times New Roman', serif ;
    justify-content: center;
    align-items: center;
    background-color:var(--backgroud_color_1);

}
.abc{
  display: flex;
}
.header {
    text-align: center;
}

h3{
   font-size: var(--heading-size);
 
}
.header img {
  margin-top: 30px;
    width:25%;
    height: 48vh;
    border-radius: 50%;
    /* border:  #333 12px; */

}


.sec_1{
  display: flex;
  justify-content: center;
  gap: 30vh;
  /* margin-top: 30px; */
}
.part_1{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  background-color:var(--backgroud_color_2);
  margin: 30px;
  border-radius: 10px;
  padding: 1rem;
box-shadow: 2 2 rgb(0, 0, 0,0.1);
}
.name {
    font-size: var(--heading-size);
    margin: 10px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--backgroud_color_4);
}
.job-title {
    font-size: var(--heading-size);
    color:var(--backgroud_color_3);
}
.contact-info {

}
.same{
  color: var(--backgroud_color_3);
}

.para1{
  
  width:181vh;
}
.section{
    /* margin-top: 30px; */
    
}
.section-title {
    font-size: var(--heading-size);
    font-weight: bold;
    color:var(--backgroud_color_3);

}
.section-content {
    /* margin-left: 20px; */

}

.section-content p {
    margin: 0;
}

.exp-skill_sec{
  margin:0 30px;
  display:flex ;
  justify-content: flex-start ;
  gap: 20vh;
  margin-bottom: 20px;
  color: var(--backgroud_color_3);
}

footer{
      background-color:var(--backgroud_color_2);
      margin: 0px 30px;
      border-radius: 10px;
      height: 10vh;
}

footer img{
  margin: 1rem 10px ;
  height: 40px;
  width: 40px;
  filter: invert(20%);  

}